*{
	list-style: none;
}
*{
	padding: 0;
	margin: 0;
}
.box{
	width:100%;
	height:100%;
	background-color:#f8f7f6;
	margin:0 auto;
}
.ttop{
	width:100%;
	height: 170px;
	border-bottom: 2px solid #fe6c00;
	background-color: white;
}
.tt{
	width:1180px;
	height: 43px;
	margin:0 auto;
}
.t1{
	width: 1180px;
	height: 43px;
}
.t2{
	width: 1180px;
	height: 87px;
}
.thd{
	width:100%;
	height: 130px;
	background-color: white;
	z-index: 9999;
}
.t12{
	width:1180px;
	height: 130px;
	margin:0 auto;
}
.search1{
	border:2px solid #fe6c00; 
	width: 502px;
	height: 36px;
	margin-left: 80px;
	margin-top: 18px;
	float: left;
}
.search2{
	width: 84px;
	height: 40px;
	float: left;
	background-color: #fe6c00;
	color: white;
	font-size: 16px;
	border:0;
	margin-top: 18px;
}
.t3{
	width:1180px;
	height: 41px;
}
.t4{
	width:170px;
	height: 41px;
	background-color: #fe6c00;
	color: white;
	font-size: 14px;
	text-align: center;
	float: left;
}	
.goods_txt{
	position:relative;
	top: 25%;
}
.ccenter{
	width: 1180px;
	height: 550px;
	margin:0 auto;
}
.cl{
	width: 170px;
	height: 550px;
	float: left;
}
.cl2{
	width: 170px;
	height:425px;
	font-size: 13px;
	text-align: center;
}
.cl1{
	width:170px;
	height: 125px;
	border-top: 1px solid #fe6c00;
	background-color: white;
}
.cc{
	width:800px;
	height:550px;
	float: left;
}
.four{
	width: 802px;
	height: 186px;
	float: left;
	border-top: 2px solid #fe6c00;
}
.cr{
	width: 210px;
	height: 550px;
	float: left;
}
.gonggao{
	width:210px;
	height:360px;
	border-bottom: 1px solid #ebeae7;
}
.gg1{
	width:210px;
	height: 30px;
	background-color: white;
}
.chongzhi{
	width:210px;
	height:186px;
	background-color: white;
}
.bbttom{
	width: 1180px;
	height: 344px;
	margin:0 auto;
}
.b1{
	height: 180px;
	width: 1180px;
}
.b2{
	height: 162px;
	width: 1180px;
	margin:0 auto;
}
/*ul,li{
	list-style: none;
}*/
.box1{
	width: 800px;
	height: 360px;
	border: 1px solid red;
/*	margin: 100px auto;*/
	position: relative;
	overflow: hidden;
}
.slider{
	width:6400px;
	position: absolute;
	left: -800px;
}
.slide{
	width: 800px;
	overflow: hidden;
	float: left;
}
.box1>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	top: 175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	/* display: none; */
	opacity: 0;
}
#left{
	/*position: absolute;
	top:170px;*/
	left: 30px;
}
#right{
	/*position: absolute;
	top: 170px;*/
	right: 30px;
}
.nav{
	position: absolute;
	left: 300px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
	text-align: center;
}
.nav .active{
	background: red;
}
#express li{ 
height:25px; 
line-height:20px; 
font-size:12px; 
list-style:none; 
color:  #fe6c00;
margin-left: 8px;
font-weight: bolder;
} 
#dome{ 
	width: 210px;
	height:330px; 
	overflow:hidden; 
	margin-top:0px; 
	border-top: 1px solid #ebeae7;
	background-color: white;
} 
#express{ 
	margin-right:10px; 
	margin-bottom:0px; 
	margin-top:0px; 
} 

.bl1{
	width:138px;
	height:140px;
	background: #fff;
	margin-bottom: 4px;
	overflow: hidden;
	position: fixed;
	top:40px;
	right:-90px;
	z-index: 999;
}
.bl1a{
	width:138px;
	height:90px;
	overflow: hidden;
	float:left;
	background: url(./img/consult-s.png) no-repeat left bottom;
}
.bl1a1{
	width:12px;
	height:80px;
	float:right;
	background: #fd9a6e;
	margin-top: 30px;
}
.bl1b{
	width:138px;
	height:50px;
	background: #fd9a6e;
	float:left;
}
.bl2{
	width:138px;
	height:140px;
	top:184px;
	right:-90px;
	background: #fd9a6e;
	margin-bottom: 4px;
	position: fixed;
	z-index: 999;
}
.bl2 li{
	float:left;
}
.bl2a{
	width:40px;
	height:20px;
	border: 1px solid #fff;
	text-align: center;
	margin-top: 10px;
}
.bl3{
	width:138px;
	height:140px;
	right:-90px;
	z-index: 999;
	background: #fd9a6e;
	margin-bottom: 4px;
	position: fixed;
	top:327px;

}
.bl3a{
	width:138px;
	height:45px;
	overflow: hidden;
	float:left;
}
.bl3b{
	width:138px;
	height:97px;
	float:left;
}
.bl4{
	width:138px;
	height:140px;
	top:472px;
	right:-90px;
	background: #ff5e00;
	position: fixed;
	z-index: 999;
}
